
<!--Encabezado-->

  <div class="container">
    <div class="row">
      <div class="Contactos text-left col-xs-12 col-sm-6">
        <p class="Telefono">
          <i class="fa fa-phone"></i>
           Telefono 1: 2556598
        </p>
        <p class="Separator hidden-xs">
          |
        </p>
        <p class="Telefono">
          <i class="fa fa-phone"></i>
          Telefono 2 : 2548789
        </p>
      </div>
      <div class="Contactos text-right col-xs-12 col-sm-6">
        <p class="Sellpoint">
          <i class="fa fa-map-marker"></i>
           Puntos de venta
        </p>
        <p class="Redes">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-instagram"></i>
        </p>
      </div>
    </div>
    <div class="row">
      <p class="col-md-4 col-sm-8"  style="font-size:30px">Superfamiliar Droguerias</p>
      <div class="col-md-5 col-xs-9">
        <div class="input-group">
          <input type="button" name="name" value="" class="form-control">
          <span class="input-group-btn">
            <button type="button" name="button" class="btn">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-3 visible-md visible-lg text-center">
        <p class="Descuento">
          Super 10%
        </p>
        <p class="Descuento">
          Jueves de descuento
        </p>
      </div>
      <div class="col-sm-3 visible-sm visible-xs text-center">
        <p class="lead">
          Precio Cápsula
        </p>
      </div>
    </div>
  </div>

<!--Fin Encabezado-->
