<div class="container">
	<div class="row">

		<div class="col-md-2 hidden-sm hidden-xs">
			<img class="Imagen" src="assets/images/yeoman.jpg">
		</div>


		<div class="col-md-3 dropdown">
			<h4 class="dropdown-toggle" id="dropdownMenu1" data-toggle="collapse" data-target="#demo"> SUPERFAMILIAR <i class="glyphicon glyphicon-chevron-right offset-xs hidden-md hidden-lg"></i></h4>
				<ul class="nav text-left hidden-xs hidden-sm" aria-labelledby="dropdownMenu1">
					<li><a href="#">Quienes somos</a></li>
					<li><a href="#">Valores Corporativos</a></li>
					<li><a href="#">Politicas de Calidad</a></li>
					<li><a href="#">Contactanos</a></li>
				</ul>
				<div id="demo" class="collapse">
					<p>Quienes somos</p>
					<p>Valores</p>
					<p>Politicas de calidad</p>
					<p>Contactanos</p>
				</div>
		</div>

		<div class="col-md-3">
			<h4>SERVICIOS <i class="glyphicon glyphicon-chevron-right offset-xs hidden-md hidden-lg"></i></h4>
				<ul class="nav text-left hidden-xs hidden-sm">
					<li><a href="">Domicilios</a></li>
					<li><a href="">Inyectologia</a></li>
					<li><a href="">Toma de Presión</a></li>
					<li><a href="">Baloto Electronico</a></li>
				</ul>
		</div>

		<div class="col-md-2">
			<h4>ENTÉRATE <i class="glyphicon glyphicon-chevron-right offset-xs hidden-md hidden-lg"></i></h4>
				<ul class="nav text-left hidden-xs hidden-sm">
					<li><a href="">Noticias</a></li>
					<li><a href="">Educación</a></li>
					<li><a href="">Tips</a></li>
				</ul>
		</div>

		<div class="col-md-2 hidden-sm hidden-xs">
			<img class="Imagen" src="assets/images/canguro.jpg">
		</div>

	</div>
</div>
