.caption, .Destacados, .Image, .Canguro
  display inline-block

.Destacados
  padding 10px

.caption
  padding-top 120px

.Canguro
  margin 0


li
padding 0px !important
margin-right 2px

.megaMenu
  transition 2s
